{% extends "base.html" %}
{% block title %}About Us{% endblock title %}
{% block active %} active {% endblock active %}

{% block body %}

<div class="container my-3">
    <div class="p-5 text-center bg-body-tertiary rounded-3">
        <h1 class="text-body-emphasis">About Us</h1>
        <p class="col-lg-8 mx-auto fs-6 text-muted">
            Welcome to our Todo app! We're a team of passionate developers who believe in the power of productivity and
            organization. Our mission is to provide you with a simple yet powerful tool to manage your tasks
            effectively.<br>

            Using Python Flask framework, we've crafted a seamless experience for creating, reading, updating, and
            deleting tasks - the fundamental CRUD operations. Whether you're a busy professional, a student with
            deadlines, or just someone looking to stay organized, our app is designed to cater to your needs.<br>

            We understand the importance of simplicity and efficiency, which is why our interface is intuitive and
            user-friendly. With just a few clicks, you can add, edit, and mark tasks as completed, helping you stay on
            top of your responsibilities.<br>

            Thank you for choosing our Todo app to streamline your workflow and enhance your productivity journey. We're
            committed to continuously improving and providing you with the best task management experience possible.<br><br>

            Happy organizing!
        </p>
        </div>
    </div>
</div>

{% endblock body %}