{% extends 'base.html' %}
{% block title %}Search{% endblock title %}
{% block body %}

<div class="container py-4">
    <h3>Your To-Do's</h3>
    <table class="table">
        {% if todos|length == 0 %}
        <div class="alert alert-dark" role="alert">
            No records found!
        </div>
        {% else %}
        <thead>
            <tr>
                <th scope="col">S.No.</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Date</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for todo in todos %}
            <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{todo.title}}</td>
                <td>{{todo.desc}}</td>
                <td>{{todo.date_created}}</td>
                <td><a href="/update/{{todo.sno}}" type="button" class="btn btn-dark btn-sm mx-1">Update</a>
                    <a href="/delete/{{todo.sno}}" type="button" class="btn btn-dark btn-sm mx-1">Delete</a>
                </td>
            </tr>
            {% endfor %}
            {% endif %}

            </tr>
        </tbody>
    </table>
</div>

{% endblock body%}